:root{
    --bg-color: hsl(0, 0%, 20%);
    --card-color: hsl(from var(--bg-color) h calc(s + 0) calc(l - 10));

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}


.grid{
    display: grid;
    flex:1;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    gap: 8px;
}

.game-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--card-color);
    gap: 8px;
    border-radius: 20px;
    border: 1px solid black;
}

.game-card-header{
    display: flex;
    justify-content: space-between;
}

.game-card-buttons{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.game-card-buttons button{
    flex-grow: 1;
    border: none;
    border-radius: 20px;
    width: auto;
    padding: 5px;
    /* width: clamp(4ch,6ch, 8ch); */

}

.game-card-buttons button:hover{
    scale: .95;
}
.game-card-buttons button:active{
    scale: 0.9;
}
.game-rating {
    color:beige;
    font-size: .9rem;
}

.game-card-body{
    display: flex;
    flex-direction: column;
    flex:1;
}

.game-review {
    flex:1;
    /* border: 1px solid black; */
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
    text-wrap: balance;
}



#createModal{
    background-color: var(--card-color);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    left: 50%;
    top:50%;
    translate: -50% -50%;
    color: white;
    min-width: 300px;
}

#createModal .container h2{
    text-align: center;
}

#createModal button{
    border-radius: 20px;
    width: fit-content;
    padding: 10px 20px;
    align-self: flex-end;
    border: none;
}

#createModal button:hover{
    scale: 1.1;
}


#createModal .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    
}


.modal-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-field input, .modal-field textarea{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--card-color);
    color: white;
}

.modal-field input:focus, .modal-field textarea:focus{
    outline: 2px solid black;
}
#createModal .container textarea{
    min-height: 15lh;
}

/* Standard Breakpoints */
/* Mobile First Approach */
@media (min-width: 320px)  { /* Mobile Small */ }
@media (min-width: 480px)  { /* Mobile Large */ }
@media (min-width: 768px)  { /* Tablet */ }
@media (min-width: 1024px) { /* Desktop */ }
@media (min-width: 1200px) { /* Large Desktop */ }
@media (min-width: 1440px) { /* Extra Large */ }

/* Desktop First Approach */
@media (max-width: 1439px) { /* Below XL */ }
@media (max-width: 1199px) { /* Below Large */ }
@media (max-width: 1023px) { /* Below Desktop */ }
@media (max-width: 767px)  { /* Below Tablet */ }
@media (max-width: 479px)  { /* Below Mobile Large */ }